@import url("https://fonts.googleapis.com/css2?family=SUSE:wght@100..800&display=swap");

body {
  margin: 0;
}

.header {
  background-color: #b5d9fe;
  padding: 30px;
  text-align: center;
}

main {
  font-family: "SUSE", sans-serif;
}

.title {
  font-size: 2rem;
  font-weight: bold;
  color: #333;
  margin: 0;
  text-transform: uppercase;
  font-family: "SUSE", sans-serif;
}

.city-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 400px;
  margin: 45px auto;
  gap: 50px;
}

.label-input-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.input,
.city-container button {
  padding: 5px;
  font-family: "SUSE", sans-serif;
}

.weather-container {
  border: 5px solid #cbd5e1;
  padding: 30px;
  border-radius: 50px;
  margin: 50px auto;
  max-width: 250px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weather-container p {
  text-align: center;
}

.location {
  font-size: 1.2rem;
}

.temp {
  font-size: 2.5rem;
  margin-bottom: 15px;
  margin-top: 5px;
}

.description {
  font-size: 0.8rem;
}

@media (max-width: 350px) {
  .city-container {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .label-input-container {
    align-items: center;
  }

  .input {
    width: 100%;
  }
}
